[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ipython = "*"
sanic = {git = "https://github.com/channelcat/sanic.git"}


[dev-packages]



[requires]

python_version = "3.6"
